body
{  
   color:#8A2BE2;
    background-image:url(https://initiate.alphacoders.com/images/640/cropped-1280-1024-640987.jpg?4928);
}
#area
{
   position:relative;
   left:0%;
   top:15%;
   width:250px;
   height:150px; 
}
fieldset
{
   color:#8A2BE2;
   width:1173px;
   height:200px;
}
legend
{
   color:#8A2BE2;
   font-style:bold;
   font-family: "Segoe UI","Arial","Times New Roman";
}
label
{
    color:#8A2BE2;
}


